extends ./templates/partials/base.jade

block title
	title Este es el about
	link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
block content
	div(class="card-panel")
		span(class="blue-text text-darken-2") Nosotros
